<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">OpenApi RPG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <show-rules></show-rules>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
      <game-reset></game-reset>
      <file-saver></file-saver>
      <file-upload></file-upload>
    </div>
  </div>
</nav>

<div role="main">
  <br>
  <game-display></game-display>
</div>