<!-- Modal -->
<div class="modal" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-focus="true"
    tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex align-items-center justify-content-center flex-column" style="height: 150px;">
                    <div>
                        <span class="fs-3">Loading...</span>
                    </div>
                    <div>
                        <span class="fs-6">Awaiting response from API</span>
                    </div>
                    <div class="spinner-border mt-3" role="status" style="width: 50px; height: 50px;">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>